
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: radial-gradient(ellipse at top, rgb(228, 228, 228), rgb(0, 0, 0));
}

.to-do-list {
    min-height: 60vh;
    padding: 20px;
    background: linear-gradient(0deg, rgba(255, 0, 0, 0), rgb(31, 31, 31));
    border-radius: 30px;
}

.header {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
}

form input {
    height: 40px;
    width: 250px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 3.5px;
    outline: none;
    color: white;
    margin-right: 10px;
    box-shadow: 6px 6px 10px rgba(255, 255, 255, 0.106);
    font-size: 16px;
}

form button {
    height: 47.5px;
    width: 60px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: silver;
    font-size: 16px;
    color: black;
    transition: 0.05s ease-out;
    box-shadow: 5px 2px 7px rgba(142, 141, 141, 0.638);
}

form button:active {
    transform: scale(0.9);
}

.form-container {
    width: 100%;
    margin: 10px 0px;
}

.task-list-container {
    width: 100%;
    border-radius: 10px;
}

.task-list-container li {
    list-style-type: none;
    display: flex;
    gap: 3px;
    border: 1px solid #E5C100;
    border-radius: 10px;
    margin: 10px 0px;
    background-color: #121212;
    background-color: #2B2B2B;  /* Charcoal Gray */
    border-radius: 8px;
    border: 1px solid #3E3E3E;
}

.task-list-container li input {
    border: none;
    outline: none;
    border: none;
    background: none;
    height: 40px;
    width: 180px;
    padding: 3.5px;
    font-size: 16px;
    color: #D4D4D4;  /* Light Gray Text */
}

.complete{
    text-decoration: line-through;
}
.task-button{
    color: black;
    background-color: #f3da9a;
    border-radius: 100%;
    margin: 4.8px;
    cursor: pointer;

}
.task-button svg{
    width: 20px;
    height:20px;
}

.task-buttons {
    display: flex;
}